.coverbox {
  margin: 0px!important;
  padding: 0px!important;
  box-sizing: border-box!important;
}

a, a:hover, a:focus {
    text-decoration: none;
    color: black;
}

  .card-img{
   width: 100%!important;
   height: 180px!important;
   object-fit: cover;
}

.placeholder {
  height: 10vh;
}