<div class="container">
  <h1>Purchase History</h1>
  <% if @orders.length > 0 %>
  <%= render 'order_table', order: @orders %>

    <% else %>
      <%= "No purchase recorded" %>
    <% end %>
</div>