<h1>Shopping basket</h1>
<% if @cart.length > 0 %>
<%= render "cart_table", cart: @cart %>
<div>
  <input type="radio" id="delivery" value=1 checked>
  <label for="male">Local Pickup</label>
  <input type="radio" id="delivery" value=2>
  <label for="female">Delivery</label><br>
</div>
  <%# <% hidden_field_tag 'seller', item.profile.id %>
<div>
  <%= link_to "Pay Now", "", id: "stripe", class: "btn btn-success float-right" %>  
</div>
<% else %>
<%= "Your veggie box is currently empty, start shopping now" %>
<% end %>


<% item = @cart.first %>

<%= javascript_pack_tag "stripe" %>