.profile_container {
  display: flex;  
}

.user_card{
  width: 20vw;
  border: forestgreen solid 2px;
  margin-right: 2%;
  padding: 1% 4% 1% 4%;
}

.user_card p{
  margin-bottom: 0;
}

.user_card_button {
  margin-top: 10px;
}

@media only screen and (max-width: 850px) {
  .profile_container {
    flex-direction: column;
    margin-left: 0;
    margin-top: 0;
  }
  .profile_container .user_card{
    width: 100%;
    margin-right: 2%;
    padding: 1% 4% 1% 4%;
  }

  .profile_container .mb-3 {
    max-width: 90vw !important;
  }

}